

@{
    string IDNO = (ViewData["IDNO"] == null) ? "" : ViewData["IDNO"].ToString();

}
<!--查詢介面-->
<div class="container mt-4">
    <!--card start-->
    <div class="card">
        <div class="card-header bg-secondary text-white">
           欠費查詢
        </div>
        <ul class="list-group list-group-flush">
            <!--每一個li是一項查詢條件-->
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            會員帳號
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="IDNO" id="IDNO" value="@IDNO" />
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 offset-md-2">
                            <button type="submit" class="btn btn-primary">確認送出</button>

                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!--end card-->
</div>
<!--查詢介面結束-->
<!--輸出表格-->
<div class="container mt-4">
    <table class="table bg-white footable" data-filter="#filter" id="list">
        <thead class="text-white bg-primary">
            <tr>
                <th data-sort="false">
                   
                </th>
                <th scope="col">iRent合約編號</th>
                <th scope="col">合約編號</th>
                <th scope="col">類別</th>
                <th scope="col">備註</th>
                <th scope="col">應付金額</th>
                <th scope="col">已付金額</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-sort="false">
                   
                </td>
                <td scope="col">iRent合約編號</td>
                <td scope="col">合約編號</td>
                <td scope="col">eTag</td>
                <td scope="col"></td>
                <td scope="col">100</td>
                <td scope="col">0</td>
            </tr>
        </tbody>

    </table>
</div>
<!--輸出表格結束-->
