@{
    string OrderNo = (ViewData["OrderNo"] == null) ? "" : ViewData["OrderNo"].ToString();

}
<!--查詢介面-->
<div class="container mt-4">
    <!--card start-->
    <div class="card">
        <div class="card-header bg-secondary text-white">
            短租補傳
        </div>
        <ul class="list-group list-group-flush">
            <!--每一個li是一項查詢條件-->
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            合約編號
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="OrderNo" id="OrderNo" value="@OrderNo" />
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            執行功能
                        </div>
                        <div class="col-md-3">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="DoFunc" id="Do060" value="0">
                                <label class="form-check-label" for="Do060">
                                    預約
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="DoFunc" id="Do125" value="1">
                                <label class="form-check-label" for="Do125">
                                    取車
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="DoFunc" id="Do134" value="2">
                                <label class="form-check-label" for="Do134">
                                    還車
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 offset-md-2">
                            <button type="button" name="btnSend" id="btnSend" class="btn btn-primary">確認送出</button>
                            <input type="hidden" id="Account" name="Account" value="@((Session["Account"] == null) ? "" : Session["Account"].ToString())" />
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!--end card-->
</div>
