
<div class="container mt-4">
    <!--card start-->

    <div class="card">
        <div class="card-header text-white" style="background-color: #9fa4ac;">
            會員審核
        </div>
        @using (Html.BeginForm("AuditDetail", "MemberManage", FormMethod.Post, new { id = "frmAudit", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
    <ul class="list-group list-group-flush">
        <!--每一個li是一項查詢條件-->
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        會員手機
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary">預覽手機重複名單</button>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        駕照種類
                    </div>
                    <div class="col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="CarDriver" name="Driver" value="CarDriver">
                            <label class="form-check-label" for="CarDriver">汽車</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="CarDriver1" name="Driver" value="CarDriver1">
                            <label class="form-check-label" for="CarDriver1">機車(持汽車駕照使用輕型機車)</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="MotoDriver2" name="Driver" value="MotoDriver2">
                            <label class="form-check-label" for="MotoDriver2">機車(重型)</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="MotorDriver1" name="Driver" value="MotorDriver1">
                            <label class="form-check-label" for="MotorDriver1">機車(輕型)</label>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        iRent會員狀態
                    </div>
                    <div class="col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="NoRegister" id="NoRegister" value="1">
                            <label class="form-check-label" for="NoRegister">
                                尚未申請
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        中文姓名
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="UserName" id="UserName" value="" />

                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        身份證字號
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="IDNO" id="IDNO" value="" />

                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary">預覽證件</button>

                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary">快速預覽取車證件</button>

                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        駕照號碼
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="DriverNo" id="DriverNo" value="" />

                    </div>

                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        特殊身份說明
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" name="SPECSTATUS" id="SPECSTATUS">
                            <option value="">請選擇</option>
                            <option value="1">申請加入</option>
                            <option value="2">變更身份</option>
                        </select>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        特殊身份有效日期
                    </div>
                    <div class="col-md-3">
                        <!-- datepicker -->
                        <div class="custom-datepicker">
                            <input class="datePicker form-control" type="text" id="StartDate" name="StartDate" value="" readonly="false">
                            <svg width="22" height="22" viewBox="0 0 22 22">
                                <g transform="translate(0 3)" fill="#fff" stroke="#9fa4ac" stroke-width="1">
                                    <rect width="22" height="19" rx="3" stroke="none" />
                                    <rect x="0.5" y="0.5" width="21" height="18" rx="2.5" fill="none" />
                                </g>
                                <g transform="translate(0 3)" fill="#9fa4ac" stroke="#9fa4ac" stroke-width="1">
                                    <path d="M3,0H19a3,3,0,0,1,3,3V6a0,0,0,0,1,0,0H0A0,0,0,0,1,0,6V3A3,3,0,0,1,3,0Z" stroke="none" />
                                    <path d="M3,.5H19A2.5,2.5,0,0,1,21.5,3V5a.5.5,0,0,1-.5.5H1A.5.5,0,0,1,.5,5V3A2.5,2.5,0,0,1,3,.5Z" fill="none" />
                                </g>
                                <g transform="translate(3.633 -0.005)">
                                    <rect id="Rectangle_37" data-name="Rectangle 37" width="2" height="8" rx="1" transform="translate(0.367 0.005)" fill="#9fa4ac" />
                                    <rect id="Rectangle_38" data-name="Rectangle 38" width="2" height="8" rx="1" transform="translate(11.367 0.005)" fill="#9fa4ac" />
                                </g>
                            </svg>
                        </div>
                    </div>
                    ～
                    <div class="col-md-3">
                        <!-- datepicker with time -->
                        <div class="custom-datepicker">
                            <input class="datePicker form-control" type="text" id="EndDate" name="EndDate" value="" readonly="false">
                            <svg width="22" height="22" viewBox="0 0 22 22">
                                <g transform="translate(0 3)" fill="#fff" stroke="#9fa4ac" stroke-width="1">
                                    <rect width="22" height="19" rx="3" stroke="none" />
                                    <rect x="0.5" y="0.5" width="21" height="18" rx="2.5" fill="none" />
                                </g>
                                <g transform="translate(0 3)" fill="#9fa4ac" stroke="#9fa4ac" stroke-width="1">
                                    <path d="M3,0H19a3,3,0,0,1,3,3V6a0,0,0,0,1,0,0H0A0,0,0,0,1,0,6V3A3,3,0,0,1,3,0Z" stroke="none" />
                                    <path d="M3,.5H19A2.5,2.5,0,0,1,21.5,3V5a.5.5,0,0,1-.5.5H1A.5.5,0,0,1,.5,5V3A2.5,2.5,0,0,1,3,.5Z" fill="none" />
                                </g>
                                <g transform="translate(3.633 -0.005)">
                                    <rect id="Rectangle_37" data-name="Rectangle 37" width="2" height="8" rx="1" transform="translate(0.367 0.005)" fill="#9fa4ac" />
                                    <rect id="Rectangle_38" data-name="Rectangle 38" width="2" height="8" rx="1" transform="translate(11.367 0.005)" fill="#9fa4ac" />
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        出生日期
                    </div>
                    <div class="col-md-3">
                        <!-- datepicker -->
                        <div class="custom-datepicker">
                            <input class="datePicker form-control" type="text" id="Birth" name="Birth" value="" readonly="false">
                            <svg width="22" height="22" viewBox="0 0 22 22">
                                <g transform="translate(0 3)" fill="#fff" stroke="#9fa4ac" stroke-width="1">
                                    <rect width="22" height="19" rx="3" stroke="none" />
                                    <rect x="0.5" y="0.5" width="21" height="18" rx="2.5" fill="none" />
                                </g>
                                <g transform="translate(0 3)" fill="#9fa4ac" stroke="#9fa4ac" stroke-width="1">
                                    <path d="M3,0H19a3,3,0,0,1,3,3V6a0,0,0,0,1,0,0H0A0,0,0,0,1,0,6V3A3,3,0,0,1,3,0Z" stroke="none" />
                                    <path d="M3,.5H19A2.5,2.5,0,0,1,21.5,3V5a.5.5,0,0,1-.5.5H1A.5.5,0,0,1,.5,5V3A2.5,2.5,0,0,1,3,.5Z" fill="none" />
                                </g>
                                <g transform="translate(3.633 -0.005)">
                                    <rect id="Rectangle_37" data-name="Rectangle 37" width="2" height="8" rx="1" transform="translate(0.367 0.005)" fill="#9fa4ac" />
                                    <rect id="Rectangle_38" data-name="Rectangle 38" width="2" height="8" rx="1" transform="translate(11.367 0.005)" fill="#9fa4ac" />
                                </g>
                            </svg>
                        </div>
                    </div>

                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        手機號碼
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="Mobile" id="Mobile" value="" />

                    </div>

                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        地址
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" name="City" id="City">
                            <option value="">請選擇</option>
                            <option value="1">申請加入</option>
                            <option value="2">變更身份</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" name="Area" id="Area">
                            <option value="">請選擇</option>
                            <option value="1">申請加入</option>
                            <option value="2">變更身份</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" type="text" name="Addr" id="Addr" value="" />

                    </div>

                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        公司抬頭
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="Title" id="Title" value="" />

                    </div>

                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        統編
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="UniCode" id="UniCode" value="" />

                    </div>

                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        發票寄送方式
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" name="InvoiceType" id="InvoiceType">
                            <option value="">請選擇</option>
                            <option value="1">申請加入</option>
                            <option value="2">變更身份</option>
                        </select>

                    </div>

                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        權限
                    </div>
                    <div class="col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Power" id="NotOK" value="0">
                            <label class="form-check-label" for="NotOK">
                                手機未認證
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Power" id="OK" value="1">
                            <label class="form-check-label" for="OK">
                                手機已認證
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Power" id="block" value="-1">
                            <label class="form-check-label" for="block">
                                黑名單
                            </label>

                        </div>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">
                        有效日期
                    </div>
                    <div class="col-md-3">
                        <!-- datepicker -->
                        <div class="custom-datepicker">
                            <input class="datePicker form-control" type="text" id="BlockStartDate" name="BlockStartDate" value="" readonly="false">
                            <svg width="22" height="22" viewBox="0 0 22 22">
                                <g transform="translate(0 3)" fill="#fff" stroke="#9fa4ac" stroke-width="1">
                                    <rect width="22" height="19" rx="3" stroke="none" />
                                    <rect x="0.5" y="0.5" width="21" height="18" rx="2.5" fill="none" />
                                </g>
                                <g transform="translate(0 3)" fill="#9fa4ac" stroke="#9fa4ac" stroke-width="1">
                                    <path d="M3,0H19a3,3,0,0,1,3,3V6a0,0,0,0,1,0,0H0A0,0,0,0,1,0,6V3A3,3,0,0,1,3,0Z" stroke="none" />
                                    <path d="M3,.5H19A2.5,2.5,0,0,1,21.5,3V5a.5.5,0,0,1-.5.5H1A.5.5,0,0,1,.5,5V3A2.5,2.5,0,0,1,3,.5Z" fill="none" />
                                </g>
                                <g transform="translate(3.633 -0.005)">
                                    <rect id="Rectangle_37" data-name="Rectangle 37" width="2" height="8" rx="1" transform="translate(0.367 0.005)" fill="#9fa4ac" />
                                    <rect id="Rectangle_38" data-name="Rectangle 38" width="2" height="8" rx="1" transform="translate(11.367 0.005)" fill="#9fa4ac" />
                                </g>
                            </svg>
                        </div>
                    </div>
                    ～
                    <div class="col-md-3">
                        <!-- datepicker with time -->
                        <div class="custom-datepicker">
                            <input class="datePicker form-control" type="text" id="BlockEndDate" name="BlockEndDate" value="" readonly="false">
                            <svg width="22" height="22" viewBox="0 0 22 22">
                                <g transform="translate(0 3)" fill="#fff" stroke="#9fa4ac" stroke-width="1">
                                    <rect width="22" height="19" rx="3" stroke="none" />
                                    <rect x="0.5" y="0.5" width="21" height="18" rx="2.5" fill="none" />
                                </g>
                                <g transform="translate(0 3)" fill="#9fa4ac" stroke="#9fa4ac" stroke-width="1">
                                    <path d="M3,0H19a3,3,0,0,1,3,3V6a0,0,0,0,1,0,0H0A0,0,0,0,1,0,6V3A3,3,0,0,1,3,0Z" stroke="none" />
                                    <path d="M3,.5H19A2.5,2.5,0,0,1,21.5,3V5a.5.5,0,0,1-.5.5H1A.5.5,0,0,1,.5,5V3A2.5,2.5,0,0,1,3,.5Z" fill="none" />
                                </g>
                                <g transform="translate(3.633 -0.005)">
                                    <rect id="Rectangle_37" data-name="Rectangle 37" width="2" height="8" rx="1" transform="translate(0.367 0.005)" fill="#9fa4ac" />
                                    <rect id="Rectangle_38" data-name="Rectangle 38" width="2" height="8" rx="1" transform="translate(11.367 0.005)" fill="#9fa4ac" />
                                </g>
                            </svg>
                        </div>
                    </div>

                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        申請新加入審核結果
                    </div>
                    <div class="col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="AuditStatus" id="AuditOK" value="1">
                            <label class="form-check-label" for="AuditOK">
                                通過
                            </label>
                        </div>
                   
                 
                    </div>
                    <div class="col-md-3">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="AuditStatus" id="AuditReject" value="-1">
                            <label class="form-check-label" for="AuditReject">
                                不通過，原因說明
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">

                        <select class="form-control" name="InvoiceType" id="InvoiceType">
                            <option value="">請選擇</option>
                            <option value="1">申請加入</option>
                            <option value="2">變更身份</option>
                        </select>
                    </div>
                    <div class="col-md-4">

                        <input class="form-control" type="text" name="RejectReason" id="RejectReason" value="" />
                    </div>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 offset-md-2">
                        <button type="submit" class="btn btn-info">查詢</button>
                        <button type="reset" class="btn btn-outline-secondary">清除</button>
                        <input type="hidden" id="len" name="len" value="" />
                        <input type="hidden" id="Account" name="Account" value="@((Session["Account"] == null) ? "" : Session["Account"].ToString())" />
                    </div>
                </div>
            </div>
        </li>
    </ul>
        }
    </div>
    <!--end card-->
</div>