<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <connectionStrings>
    <add name="IRent" connectionString="Data Source=sqyhi03az.database.windows.net,1433;Initial Catalog=IRENT_V2;Persist Security Info=True;User ID=irentadmin;Password=hims@QaWsEd;Application Name=EventMail;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>

    <add key="SendID1" value="olnynotifyuse"/>
    <add key="SendPWD1" value="HFCadmin123456789"/>
    <add key="SendID2" value="irentinfor"/>
    <add key="SendPWD2" value="pikachu5566"/>
  </appSettings>
</configuration>