<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
      <add name="IRent" connectionString="Data Source=sqyhi03az.database.windows.net,1433;Initial Catalog=IRENT_V2;Persist Security Info=True;User ID=irentadmin;Password=hims@QaWsEd;Application Name=IRentWeb;" providerName="System.Data.SqlClient" />
      <add name="IRentT" connectionString="Data Source=sqyhi03azt.database.windows.net,1433;Initial Catalog=IRENT_V2T;Persist Security Info=True;User ID=irentadmin;Password=hims@QaWsEd;Application Name=IRentWeb;" providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
