<div class="container mt-4">
    <!--card start-->
    <div class="card">
        <div class="card-header bg-secondary text-white">
            強制取還車(作廢)
        </div>
        <ul class="list-group list-group-flush">
            <!--每一個li是一項查詢條件-->
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            *訂單編號
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="OrderNo" id="OrderNo" value="" />
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            *動作類型
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" id="type" name="type">
                                <option value="-1">請選擇</option>
                                <option value="0">強制取車</option>
                                <option value="1">強制還車</option>
                                <option value="2">作廢</option>

                            </select>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            動作用途
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" id="mode" name="mode">
                                <option value="-1">請選擇</option>
                                <option value="0">會員</option>
                                <option value="1">清潔取還車</option>
                                <option value="2">保修取還車</option>

                            </select>
                        </div>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 offset-md-2">
                            <button type="submit" class="btn btn-primary">確認送出</button>

                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!--end card-->
</div>
