
<!--查詢介面-->
<div class="container mt-4">
    <!--card start-->
    <div class="card">
        <div class="card-header bg-secondary text-white">
            機車合約修改
        </div>
        <ul class="list-group list-group-flush">
            <!--每一個li是一項查詢條件-->
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            訂單編號
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="OrderNo" id="OrderNo" value="" />
                        </div>
                    </div>
                </div>
            </li>




            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 offset-md-2">
                            <button type="button" name="btnQuery" id="btnQuery" class="btn btn-primary">查詢</button>
                            <input type="hidden" id="Account" name="Account" value="@((Session["Account"] == null) ? "" : Session["Account"].ToString())" />
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!--end card-->
</div>
<!--查詢介面結束-->
<!--輸出表格-->
<div class="container mt-4" id="panelResult">
    <!--card start-->
    <div class="card">
        <div class="card-header bg-secondary text-white">
            訂單基本資料
        </div>

        <ul class="list-group list-group-flush">
            <!--每一個li是一項查詢條件-->
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            合約編號
                        </div>
                        <div class="col-md-3">
                            <span>我是合約編號</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            會員帳號
                        </div>
                        <div class="col-md-3">
                            <span>我是合約編號</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            會員姓名
                        </div>
                        <div class="col-md-3">
                            <span>我是合約編號</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            訂單專案
                        </div>
                        <div class="col-md-3">
                            <span>我是合約編號</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            前筆實際還車時間
                        </div>
                        <div class="col-md-3">
                            <span>我是合約編號</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            實際取車時間
                        </div>
                        <div class="col-md-2">
                            我是合約編號
                        </div>
                        <div class="col-md-3">
                            <div class="custom-datepicker">
                                <input class="datePicker form-control" type="text" id="StartDate" name="StartDate" readonly="false">
                                <svg width="22" height="22" viewBox="0 0 22 22">
                                    <g transform="translate(0 3)" fill="#fff" stroke="#9fa4ac" stroke-width="1">
                                        <rect width="22" height="19" rx="3" stroke="none" />
                                        <rect x="0.5" y="0.5" width="21" height="18" rx="2.5" fill="none" />
                                    </g>
                                    <g transform="translate(0 3)" fill="#9fa4ac" stroke="#9fa4ac" stroke-width="1">
                                        <path d="M3,0H19a3,3,0,0,1,3,3V6a0,0,0,0,1,0,0H0A0,0,0,0,1,0,6V3A3,3,0,0,1,3,0Z" stroke="none" />
                                        <path d="M3,.5H19A2.5,2.5,0,0,1,21.5,3V5a.5.5,0,0,1-.5.5H1A.5.5,0,0,1,.5,5V3A2.5,2.5,0,0,1,3,.5Z" fill="none" />
                                    </g>
                                    <g transform="translate(3.633 -0.005)">
                                        <rect id="Rectangle_37" data-name="Rectangle 37" width="2" height="8" rx="1" transform="translate(0.367 0.005)" fill="#9fa4ac" />
                                        <rect id="Rectangle_38" data-name="Rectangle 38" width="2" height="8" rx="1" transform="translate(11.367 0.005)" fill="#9fa4ac" />
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            實際還車時間
                        </div>
                        <div class="col-md-2">
                            我是合約編號
                        </div>
                        <div class="col-md-3">

                            <div class="custom-datepicker">
                                <input class="datePicker form-control" type="text" id="EndDate" name="EndDate" readonly="false">
                                <svg width="22" height="22" viewBox="0 0 22 22">
                                    <g transform="translate(0 3)" fill="#fff" stroke="#9fa4ac" stroke-width="1">
                                        <rect width="22" height="19" rx="3" stroke="none" />
                                        <rect x="0.5" y="0.5" width="21" height="18" rx="2.5" fill="none" />
                                    </g>
                                    <g transform="translate(0 3)" fill="#9fa4ac" stroke="#9fa4ac" stroke-width="1">
                                        <path d="M3,0H19a3,3,0,0,1,3,3V6a0,0,0,0,1,0,0H0A0,0,0,0,1,0,6V3A3,3,0,0,1,3,0Z" stroke="none" />
                                        <path d="M3,.5H19A2.5,2.5,0,0,1,21.5,3V5a.5.5,0,0,1-.5.5H1A.5.5,0,0,1,.5,5V3A2.5,2.5,0,0,1,3,.5Z" fill="none" />
                                    </g>
                                    <g transform="translate(3.633 -0.005)">
                                        <rect id="Rectangle_37" data-name="Rectangle 37" width="2" height="8" rx="1" transform="translate(0.367 0.005)" fill="#9fa4ac" />
                                        <rect id="Rectangle_38" data-name="Rectangle 38" width="2" height="8" rx="1" transform="translate(11.367 0.005)" fill="#9fa4ac" />
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            租金
                        </div>

                        <div class="col-md-2">
                            我是合約編號
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" type="text" name="pure_price_input" id="pure_price_input" value="" readonly />
                        </div>


                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            一日租金
                        </div>
                        <div class="col-md-3">
                            <span>我是合約編號</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            時數折抵
                        </div>
                        <div class="col-md-2">
                            我是合約編號
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" type="text" name="gift_point_input" id="gift_point_input" value="" readonly />
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            前筆還車里程
                        </div>
                        <div class="col-md-3">
                            <span>我是合約編號</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            取車里程
                        </div>
                        <div class="col-md-2">
                            我是合約編號
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" type="text" name="start_mile_input" id="start_mile_input" value="" readonly />
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            還車里程
                        </div>
                        <div class="col-md-2">
                            我是合約編號
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" type="text" name="end_mile_input" id="end_mile_input" value="" readonly />
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            里程費用
                        </div>
                        <div class="col-md-3">
                            <span>我是合約編號</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            逾時費用
                        </div>
                        <div class="col-md-2">
                            我是合約編號
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" type="text" name="fine_price_input" id="fine_price_input" value="" readonly />
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            eTag費用
                        </div>
                        <div class="col-md-3">
                            <span>我是合約編號</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            結算金額
                        </div>
                        <div class="col-md-2">
                            我是合約編號
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" type="text" name="final_price_input" id="final_price_input" value="" readonly />
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            已付金額
                        </div>
                        <div class="col-md-2">
                            我是合約編號
                        </div>

                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            差額
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="final_amt" id="final_amt" value="" readonly />
                        </div>
                        <div class="col-md-7">
                            (原始結算金額-更改結算金額)負數為刷卡，正數為刷退
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            修改原因
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" id="UseStatus" name="UseStatus">
                                <option value="-1"></option>
                                <option value="0">停車場出入異常</option>
                                <option value="1">清潔耽誤出還車</option>
                                <option value="2">取車時沒電耽誤</option>
                                <option value="3">其他</option>
                            </select>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            備註
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="remark_input" id="remark_input" value="" readonly />
                        </div>
                    </div>
                </div>
            </li>

        </ul>
        <div class="card-header bg-secondary text-white">
            新增待繳費用
        </div>
        <ul class="list-group list-group-flush">
            <!--每一個li是一項查詢條件-->
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            車輛調度
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="CarDispatch_input" id="CarDispatch_input" value="" />
                        </div>
                        <div class="col-md-2">
                            備註
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="DispatchRemark_input" id="DispatchRemark_input" value="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            清潔費
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="CleanFee_input" id="CleanFee_input" value="" />
                        </div>
                        <div class="col-md-2">
                            備註
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="CleanFeeRemark_input" id="CleanFeeRemark_input" value="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            物品損壞/遺失
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="DestroyFee_input" id="DestroyFee_input" value="" />
                        </div>
                        <div class="col-md-2">
                            備註
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="DestroyFeeRemark_input" id="DestroyFeeRemark_input" value="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            非配合場停車費
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="ParkingFee_input" id="ParkingFee_input" value="" />
                        </div>
                        <div class="col-md-2">
                            備註
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="ParkingFeeRemark_input" id="ParkingFeeRemark_input" value="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            拖吊費
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="DraggingFee_input" id="DraggingFee_input" value="" />
                        </div>
                        <div class="col-md-2">
                            備註
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="DraggingFeeRemark_input" id="DraggingFeeRemark_input" value="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            其他
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="OtherFee_input" id="OtherFee_input" value="" />
                        </div>
                        <div class="col-md-2">
                            備註
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="final_other_fee" id="final_other_fee" value="" />
                        </div>
                    </div>

                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 offset-md-2">
                            <button type="submit" class="btn btn-primary">計算更改後結果</button>
                            <button type="submit" class="btn btn-primary">重置</button>
                            <button type="submit" class="btn btn-primary">送出處理</button>

                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!--end card-->
</div>

<!--輸出表格結束-->
