USE master
GO

CREATE DATABASE [for_interview]
GO

USE [for_interview]
GO
/****** Object:  Table [dbo].[apply_file]    Script Date: 2023/9/25 上午 05:54:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[apply_file](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[file_path] [nvarchar](100) NULL,
	[create_at] [datetime] NOT NULL,
	[update_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orgs]    Script Date: 2023/9/25 上午 05:54:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orgs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](30) NOT NULL,
	[create_at] [datetime] NOT NULL,
	[update_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[syslog]    Script Date: 2023/9/25 上午 05:54:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[syslog](
	[seq_no] [int] IDENTITY(1,1) NOT NULL,
	[account] [nvarchar](15) NOT NULL,
	[ipaddress] [nvarchar](15) NOT NULL,
	[login_at] [datetime] NULL,
	[create_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[seq_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2023/9/25 上午 05:54:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[org_id] [int] NOT NULL,
	[name] [nvarchar](10) NOT NULL,
	[birthday] [datetime] NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[account] [nvarchar](15) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[status] [bit] NOT NULL,
	[create_at] [datetime] NOT NULL,
	[update_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[apply_file] ON 

INSERT [dbo].[apply_file] ([id], [user_id], [file_path], [create_at], [update_at]) VALUES (1, 1, N'\UploadFiles\test.jpg', CAST(N'2023-09-24T20:22:52.850' AS DateTime), NULL)
INSERT [dbo].[apply_file] ([id], [user_id], [file_path], [create_at], [update_at]) VALUES (2, 2, N'\UploadFiles\test.jpg', CAST(N'2023-09-24T20:22:52.850' AS DateTime), NULL)
INSERT [dbo].[apply_file] ([id], [user_id], [file_path], [create_at], [update_at]) VALUES (3, 3, N'\UploadFiles\test.jpg', CAST(N'2023-09-24T20:22:52.850' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[apply_file] OFF
GO
SET IDENTITY_INSERT [dbo].[orgs] ON 

INSERT [dbo].[orgs] ([id], [title], [create_at], [update_at]) VALUES (1, N'A1', CAST(N'2023-09-24T20:22:52.220' AS DateTime), NULL)
INSERT [dbo].[orgs] ([id], [title], [create_at], [update_at]) VALUES (2, N'B1', CAST(N'2023-09-24T20:22:52.220' AS DateTime), NULL)
INSERT [dbo].[orgs] ([id], [title], [create_at], [update_at]) VALUES (3, N'C1', CAST(N'2023-09-24T20:22:52.220' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[orgs] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [org_id], [name], [birthday], [email], [account], [password], [status], [create_at], [update_at]) VALUES (1, 1, N'使用者0', CAST(N'2023-09-25T04:22:52.437' AS DateTime), N'test0@gmail.com', N'forTest0', N'YWFhMTExYWFhMTE=', 1, CAST(N'2023-09-24T20:22:52.663' AS DateTime), NULL)
INSERT [dbo].[users] ([id], [org_id], [name], [birthday], [email], [account], [password], [status], [create_at], [update_at]) VALUES (2, 2, N'使用者1', CAST(N'2023-09-25T04:22:52.440' AS DateTime), N'test1@gmail.com', N'forTest1', N'YWFhMTExYWFhMTE=', 0, CAST(N'2023-09-24T20:22:52.663' AS DateTime), NULL)
INSERT [dbo].[users] ([id], [org_id], [name], [birthday], [email], [account], [password], [status], [create_at], [update_at]) VALUES (3, 3, N'使用者2', CAST(N'2023-09-25T04:22:52.440' AS DateTime), N'test2@gmail.com', N'forTest2', N'YWFhMTExYWFhMTE=', 1, CAST(N'2023-09-24T20:22:52.663' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__orgs__E52A1BB3847D7DFD]    Script Date: 2023/9/25 上午 05:54:17 ******/
ALTER TABLE [dbo].[orgs] ADD UNIQUE NONCLUSTERED 
(
	[title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164DDC60FB8]    Script Date: 2023/9/25 上午 05:54:17 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__EA162E11ADD8107C]    Script Date: 2023/9/25 上午 05:54:17 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[apply_file] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[orgs] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[syslog] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[apply_file]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[apply_file]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[apply_file]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[apply_file]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([org_id])
REFERENCES [dbo].[orgs] ([id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([org_id])
REFERENCES [dbo].[orgs] ([id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([org_id])
REFERENCES [dbo].[orgs] ([id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([org_id])
REFERENCES [dbo].[orgs] ([id])
GO
