		body { padding-top: 102px; font-family:'微軟正黑體'; font-size:15px;}
		.table-bordered.table {font-family:'微軟正黑體';font-size:15px;}
		.table-bordered.table th {background-color: #aaa; color:#fff}
		.form-horizontal .control-label { padding-top: 0px;}
		.map { margin: 0; padding: 0; height: 700px; border-radius: 0 0 5px 5px; overflow: hidden; box-sizing: content-box; }