@{

}
<!--查詢介面-->
<div class="container mt-4">
    <!--card start-->
    <div class="card">
        <div class="card-header bg-secondary text-white">
            匯入汽車車輛檔
        </div>
        <ul class="list-group list-group-flush">
            <!--每一個li是一項查詢條件-->

            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            匯入汽車車輛檔
                        </div>

                        <div class="col-md-6">
                            <input type="file" class="jfilestyle" data-theme="blue" data-inputSize="" data-text="上傳檔案">
                            <button type="submit" class="btn btn-primary">範例檔案下載</button>
                        </div>

                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 offset-md-2">
                            <button type="submit" class="btn btn-primary">確認送出</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!--end card-->
</div>
<!--查詢介面結束-->
