<div class="container mt-4">
    <!--card start-->
    <div class="card">
        <div class="card-header bg-secondary text-white">
            車輛基本資料
        </div>
        <ul class="list-group list-group-flush">
            <!--每一個li是一項查詢條件-->
            <li class="list-group-item bg-gray-400  text-white">
                <div class="container-fluid   ml-1">
                    車機基本資料
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            車機編號
                        </div>
                        <div class="col-md-3">

                        </div>

                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            門號
                        </div>
                        <div class="col-md-3">

                        </div>

                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            iButton
                        </div>
                        <div class="col-md-3">

                        </div>

                    </div>
                </div>
            </li>
            <li class="list-group-item bg-gray-400  text-white">
                <div class="container-fluid   ml-1">
                    車輛基本資料
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            車牌號碼
                        </div>
                        <div class="col-md-3">

                        </div>

                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            車款
                        </div>
                        <div class="col-md-3">

                        </div>

                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            車身顏色
                        </div>
                        <div class="col-md-3">

                        </div>

                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            車體編號
                        </div>
                        <div class="col-md-3">

                        </div>

                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            引擎編號
                        </div>
                        <div class="col-md-3">

                        </div>

                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            出廠日期
                        </div>
                        <div class="col-md-3">

                        </div>

                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            CC數
                        </div>
                        <div class="col-md-3">

                        </div>

                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            目前庫位
                        </div>
                        <div class="col-md-3">

                        </div>

                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            所屬庫位
                        </div>
                        <div class="col-md-3">

                        </div>

                    </div>
                </div>
            </li>
            <li class="list-group-item bg-gray-400  text-white">
                <div class="container-fluid   ml-1">
                    營運基本資料
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            平日定價
                        </div>
                        <div class="col-md-3">

                        </div>

                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            假日定價
                        </div>
                        <div class="col-md-3">

                        </div>

                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 offset-md-2">
                            <button type="button" class="btn btn-primary"  onclick="javascript: history.back();">返回</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        </div>
    </div>
