<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <connectionStrings>
    <add name="IRent" connectionString="Data Source=sqyhi03azt.database.windows.net,1433;Initial Catalog=IRENT_V2T;Persist Security Info=True;User ID=irentadmin;Password=hims@QaWsEd;Application Name=IRentWebAPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--Azure storage-->
    <add key="storageStr" value="DefaultEndpointsProtocol=https;AccountName=irentv2logdata;AccountKey=Z5vhfQC5pCaSIf24llWVqLGTAOGo8Y5UYji/ChLzu+UPHvJkw7v4m4sYFclIhdoXfkPhViMbx02EkNy+UmR1IQ==;EndpointSuffix=core.windows.net" />
    <!--End Azure storage-->
    <add key="android" value="1.0.0" />
    <add key="ios" value="1.0.0" />
    <add key="Rxpires_in" value="3600" /> <!--Token有效時間，單位秒-->
    <add key="Refrash_Rxpires_in" value="10800" /> <!--Refrash Token有效時間，單位秒-->
    <add key="SendGridKey" value="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" />
    <add key="SendGridSenderName" value="HLC_WM@hotaimotor.com.tw" />
    <add key="Mildef" value="3.0" />
    <add key="BindResultURL" value="http://irentv2-testapp-api.azurewebsites.net/api/BindResult" />
    <add key="BindSuccessURL" value="http://irentv2-testpay-api.azurewebsites.net/CreditCard/BindSuccess" />
    <add key="BindFailURL" value="http://irentv2-testpay-api.azurewebsites.net/CreditCard/BindFail" />
    <!-- 模擬測試用-->
    <add key="isDebug" value="1" /> <!--0:關閉debug;1:開啟debug-->
    <add key="MockCID" value="90001" /> <!--模擬測試時，將興聯的車機都用成這個編號-->
    <add key="ClosePolygonOpen" value="0"/> <!--電子柵欄是否檢查，0:不檢查（debug用）;1:檢查(正常線上用)--> 
    <!-- 模擬測試用結束-->
    <!--車麻吉-->
    <add key="MochiParkBasePath" value="https://user-api.mochipay.xyz/"/>
    <add key="T_MochiParkBasePath" value="https://user-api-alpha-mochipay.pklotcorp.com/"/>
    <add key="Mochi_TUser" value="irent_test"/>
    <add key="Mochi_TPWD" value="b002741abfd7d68ad7d50c1b6fda864f"/>
    <add key="Mochi_User" value="ft_irent"/>
    <add key="Mochi_PWD" value="aae5f9e219"/>
    <add key="Mochi_is_Test" value="1"/>
    <!--車麻吉ENd-->
    <!--台新webAPI-->
    <add key="TaishinAPIKey" value="QS1Q14N8E5KCXYA0PZXENBBD3X7FH4NX" />
    <add key="TaishinAPPOS" value="86519539000000000165" />
    <add key="ApiVer" value="1.0.2" /><!--台新版號(只有綁卡用)-->
    <add key="ApiVerOther" value="1.0.0" /><!--台新版號（除了綁卡-->
    <!--台新版號-->
    <!--台新綁卡開始-->
    <add key="TaishinBaseURL" value="https://apposweb-t.taishinbank.com.tw/O2OgwApi/api/ws/" />
    <add key="TaishinECBaseURL" value="https://apposweb-t.taishinbank.com.tw/ECgwApi/api/ECPay/"/>
    <add key="GetCardPage" value="GetCardPage" /> <!--取回綁卡網頁-->
    <add key="GetCreditCardStatus" value="GetCreditCardStatus" /><!--查詢單筆綁卡狀態-->
    <add key="DeleteCreditCardAuth" value="DeleteCreditCardAuth" /><!--刪除綁卡-->
    <add key="GetCreditCardList" value="GetCreditCardList" /><!--取回綁定列表-->
    <add key="Auth" value="Auth"/> <!--直接授權-->
   <!--台新錢包開始-->
    <add key="TaishinWalletAPIToken"  value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6IkhpTVMiLCJUb2tlbkdpZCI6Ijk4M2I4OTU2LTE4YTAtNDFiNi1hYmZiLTM4OWU1MDAxYjNkMCIsIm5iZiI6MTU4Mzk5MTQ5NCwiZXhwIjoxNTgzOTk1MDk0LCJpYXQiOjE1ODM5OTE0OTQsImlzcyI6IlRTTVAiLCJhdWQiOiJUU01QIn0.ADFTordmmKytGLTtrefhqZDiqjmRrxGKLu-6nOMvy8o"/><!--錢包api token-->
    <add key="TaishinWalletAPIKey"    value="4549da1d5cad4368bd9462fe7a713150" /><!--API Key-->
    <add key="TaishiWalletMerchantId" value="HiMS"/><!--廠商代碼-->
    <add key="TaishinWalletBaseURL"   value="https://payplust.taishin.com:8080/api/Trans/"/>
    <add key="TaishinWalletAccountBaseURL"  value="https://payplust.taishin.com:8080/api/Account/"/>
     <add key="StoreValueCreateAccount" value="StoreValue_CreateAccount"/><!--直接儲值+開戶-->
    <add key="StoredMoney" value="StoreValue"/>  <!--直接儲值-->
    <add key="PayTransaction" value="PayTransaction"/><!--直接扣款-->
    <add key="TransferStoredValueCreateAccount" value="TransferStoredValue_CreateAccount"/><!--直接轉贈+開戶-->
    <add key="GetAccountValue" value="GetAccountValue"/><!--查詢帳戶餘額明細-->
    <add key="GetAccountStatus" value="GetAccountStatus"/><!--查詢帳號狀態（總額）-->
    <!--台新webAPI結束-->
    <!--和雲webapi-->
    <add key="salt" value="5a+r5Yiw5b6I54Wp" />
    <add key="apikey" value="56iu6Iqx55qE56iL5byP5aW95qmf5YWr" />
    <add key="userid" value="HLC" />
    <add key="HLCkey" value="xTzTbNHsox+KD6rirQQgog==" />
    <add key="BaseURL" value="http://hieasyrent.hotaimotor.com.tw/iRentService2.0_P/api/" />
    <add key="NPR260SendURL" value="NPR260/Send/" />
    <add key="NPR330QueryURL" value="NPR330/Query/" />
    <add key="NPR270QueryURL" value="NPR270/QueryV2/" />
    <add key="NPR370CheckURL" value="NPR370/Check/" />
    <add key="NPR370SaveURL" value="NPR370/Save/" />
    <add key="EinvBizURL" value="EinvBiz/bcv/"/>
    <!--ETAG-->
    <add key="ETAG010QueryURL" value="ETAG010/Query/" />
    <!--END ETAG-->
    <!--和雲webapi結束-->
    <!--遠傳cat-->
    <add key="CatBaseURL" value="https://portal.cat.fetnet.net/api/v1/{0}/telemetry" />
    <!--遠傳cat結束-->
    <!--興聯-->
    <add key="CENSBaseURL" value="http://40.74.109.166:12903/icloudserver/" />
    <!--興聯結束-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7" />
    <httpRuntime targetFramework="4.7" />
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>
