<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<connectionStrings>
		<add name="IRent" connectionString="Data Source=sqyhi03az.database.windows.net,1433;Initial Catalog=IRENT_V2;Persist Security Info=True;User ID=irentadmin;Password=hims@QaWsEd;Application Name=IRentWebAPI;" providerName="System.Data.SqlClient" />
        <add name="IRentT" connectionString="Data Source=sqyhi03azt.database.windows.net,1433;Initial Catalog=IRENT_V2T;Persist Security Info=True;User ID=irentadmin;Password=hims@QaWsEd;Application Name=IRentWebAPI;" providerName="System.Data.SqlClient" />
        <add name="StorageConnectionStrings" connectionString="DefaultEndpointsProtocol=https;AccountName=irentv2logdata;AccountKey=Z5vhfQC5pCaSIf24llWVqLGTAOGo8Y5UYji/ChLzu+UPHvJkw7v4m4sYFclIhdoXfkPhViMbx02EkNy+UmR1IQ==;EndpointSuffix=core.windows.net" />
	    <add name="RedisConnectionString" connectionString="iRentV2-CreditAuth.redis.cache.windows.net:6380,password=Jbg8fc9MZv8BAxEcqAtEB41M6Ur9HXhZ9H86RsiPW0k=,ssl=True,abortConnect=False" />
    </connectionStrings>
	<appSettings>
        <!--Azure storage-->
	    <!--測試環境設定-->
        <!--<add key="StorageConnectionStrings" value="DefaultEndpointsProtocol=https;AccountName=irentv2logdata;AccountKey=Z5vhfQC5pCaSIf24llWVqLGTAOGo8Y5UYji/ChLzu+UPHvJkw7v4m4sYFclIhdoXfkPhViMbx02EkNy+UmR1IQ==;EndpointSuffix=core.windows.net" />-->
        <!--<add key="StorageBaseURL" value="https://irentv2logdata.blob.core.windows.net/"/>-->
        <!--正式環境設定-->
	    <add key="StorageConnectionStrings" value="DefaultEndpointsProtocol=https;AccountName=irentv2data;AccountKey=KoaNvv+Qk5QwIgZvgWEoQ7bvYqgT11aaT6k0w1C0vXto2BTjdUZrVLgExGE5XGncg5vEkASIoBe14pdNYRzY7Q==;EndpointSuffix=core.windows.net" />
	    <add key="StorageBaseURL" value="https://irentv2data.blob.core.windows.net/" />
        <add key="operatorContainer" value="operatoricon" />
        <add key="CarContainer" value="carpic" />
        <add key="credentialContainer" value="credential" />
        <add key="stationContainer" value="station" />
		<add key="bannerContainer" value="banner" /><!--20210316唐加，圖片上傳至azure的banner分類-->
        <add key="MaintainContainer" value="maintain" /><!--整備人員網站用，勿刪-->
        <add key="SendID" value="irentinfor" />
        <add key="SendPWD" value="pikachu5566" />
        <!--End Azure storage-->
        <add key="android" value="1.0.0" />
        <add key="ios" value="1.0.0" />
        <add key="Rxpires_in" value="86400" /> <!--Token有效時間，單位秒-->
        <add key="Refrash_Rxpires_in" value="604800" /> <!--Refrash Token有效時間，單位秒-->
        <add key="SendGridKey" value="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" />
        <add key="SendGridSenderName" value="HLC_WM@hotaimotor.com.tw" />
        <add key="Mildef" value="3.1" />
		<!--
        <add key="BindResultURL" value="https://irentv2-app-api2.irent-ase2.p.azurewebsites.net/api/BindResult" />
        <add key="BindSuccessURL" value="https://irentv2-pay-api.irent-ase.p.azurewebsites.net/CreditCard/BindSuccess" />
        <add key="BindFailURL" value="https://irentv2-pay-api.irent-ase.p.azurewebsites.net/CreditCard/BindFail" /> -->
		
		<add key="BindResultURL" value="https://irentv2-as-api2.azurewebsites.net/api/BindResult" />
		<add key="BindSuccessURL" value="https://irentv2-as-pay-api.azurewebsites.net/CreditCard/BindSuccess" />
		<add key="BindFailURL" value="https://irentv2-as-pay-api.azurewebsites.net/CreditCard/BindFail" />
        <!-- 模擬測試用-->
        <add key="isDebug" value="0" /> <!--0:關閉debug;1:開啟debug-->
        <add key="MockCID" value="90001" /> <!--模擬測試時，將興聯的車機都用成這個編號-->
        <add key="ClosePolygonOpen" value="1" /> <!--電子柵欄是否檢查，0:不檢查（debug用）;1:檢查(正常線上用)-->
	    <add key="IButtonCheck" value="1" /> <!-- 20201214 iButton檢核點 1:檢查 0:不檢查-->
        <!-- 模擬測試用結束-->
        <!--車麻吉-->
        <add key="MochiParkBasePath" value="https://user-api.mochipay.xyz/" />
        <add key="T_MochiParkBasePath" value="https://user-api-alpha-mochipay.pklotcorp.com/" />
        <add key="Mochi_TUser" value="irent_test" />
        <add key="Mochi_TPWD" value=" " />
        <add key="Mochi_User" value="ft_irent" />
        <add key="Mochi_PWD" value="aae5f9e219" />
        <add key="Mochi_is_Test" value="0" />
	    <add key="MachiStaionMailList" value="H31030@hotaimotor.com.tw;MURRAYZHOU@hotaimotor.com.tw;RAY8102@hotaimotor.com.tw;AXALY123@hotaimotor.com.tw;CHANG7220@hotaimotor.com.tw;CHUNTI8@hotaimotor.com.tw" />
        <!--車麻吉ENd-->
        <!--台新webAPI-->
        <!--測試帳號-->
        <!-- <add key="TaishinAPIKey" value="QS1Q14N8E5KCXYA0PZXENBBD3X7FH4NX" />
        <add key="TaishinAPPOS" value="86519539000000000165" />-->
	    <!--正式帳號-->
	    <add key="TaishinAPIKey" value="FM1F6F6SKDLRTJ27MGSSKJJL4F0KN6K6" />
	    <add key="TaishinAPPOS" value="86519539000000003747" />
        <add key="ApiVer" value="1.0.2" /><!--台新版號(只有綁卡用)-->
        <add key="ApiVerQ" value="1.0.2" /><!--台新版號(只有查詢訂單狀態用)-->
        <add key="ApiVerOther" value="1.0.0" /><!--台新版號（除了綁卡-->
        <!--台新版號-->
        <!--台新綁卡開始 上為測試，下為正式-->
        <!--測試網址-->
         <!--<add key="TaishinBaseURL" value="https://apposweb-t.taishinbank.com.tw/O2OgwApi/api/ws/" />
        <add key="TaishinECBaseURL" value="https://apposweb-t.taishinbank.com.tw/ECgwApi/api/ECPay/" />-->
        <!--正式網址-->
    <add key="TaishinBaseURL" value="https://apposweb.taishinbank.com.tw/O2OgwApi/api/ws/" />
	    <add key="TaishinECBaseURL" value="https://apposweb.taishinbank.com.tw/ECgwApi/api/ECPay/" />
    <add key="GetCardPage" value="GetCardPage" /> <!--取回綁卡網頁-->
        <add key="GetCreditCardStatus" value="GetCreditCardStatus" /><!--查詢單筆綁卡狀態-->
        <add key="DeleteCreditCardAuth" value="DeleteCreditCardAuth" /><!--刪除綁卡-->
        <add key="GetCreditCardList" value="GetCreditCardList" /><!--取回綁定列表-->
        <add key="GetPaymentInfo" value="GetPaymentInfo" /><!--查詢訂單狀態-->
        <add key="GetECOrderInfo" value="GetECOrderInfo" /><!--查詢EC訂單狀態-->
        <add key="ECRefund" value="Refund" /><!--退貨-->
        <add key="Auth" value="Auth" /> <!--直接授權-->
        <!--台新錢包開始-->
        <add key="TaishinWalletAPIToken" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6IkhpTVMiLCJUb2tlbkdpZCI6Ijk4M2I4OTU2LTE4YTAtNDFiNi1hYmZiLTM4OWU1MDAxYjNkMCIsIm5iZiI6MTU4Mzk5MTQ5NCwiZXhwIjoxNTgzOTk1MDk0LCJpYXQiOjE1ODM5OTE0OTQsImlzcyI6IlRTTVAiLCJhdWQiOiJUU01QIn0.ADFTordmmKytGLTtrefhqZDiqjmRrxGKLu-6nOMvy8o" /><!--錢包api token-->
        <add key="TaishinWalletAPIKey" value="4549da1d5cad4368bd9462fe7a713150" /><!--API Key-->
        <add key="TaishiWalletMerchantId" value="HiMS" /><!--廠商代碼-->
        <add key="TaishinWalletBaseURL" value="https://payplust.taishin.com:8080/api/Trans/" />
        <add key="EscrowBaseURL" value="https://payplust.taishin.com:8080/api/Merchant/" />
        <add key="TaishinWalletAccountBaseURL" value="https://payplust.taishin.com:8080/api/Account/" />
         <add key="StoreValueCreateAccount" value="StoreValue_CreateAccount" /><!--直接儲值+開戶-->
        <add key="StoredMoney" value="StoreValue" />  <!--直接儲值-->
        <add key="PayTransaction" value="PayTransaction" /><!--直接扣款-->
        <add key="TransferStoredValueCreateAccount" value="TransferStoredValue_CreateAccount" /><!--直接轉贈+開戶-->
        <add key="GetAccountValue" value="GetAccountValue" /><!--查詢帳戶餘額明細-->
        <add key="GetAccountStatus" value="GetAccountStatus" /><!--查詢帳號狀態（總額）-->
        <add key="GetGuaranteeNo" value="GetGuaranteeNo" /><!--履保/信託序號發行-->
        <add key="WriteOffGuaranteeNoJunk" value="WriteOffGuaranteeNoJunk"/><!--履保/信託序號核銷/報廢-->
        <add key="CancelWriteOff" value="CancelWriteOff"/> <!--履保/信託序號取消核銷-->
        <add key="ReturnStoreValue" value="ReturnStoreValue"/>    <!--儲值退款-->

    <!--台新webAPI結束-->

        <!--和雲webapi-->
        <add key="salt" value="5a+r5Yiw5b6I54Wp" />
        <add key="apikey" value="56iu6Iqx55qE56iL5byP5aW95qmf5YWr" />
        <add key="userid" value="HLC" />
        <add key="HLCkey" value="xTzTbNHsox+KD6rirQQgog==" />
        <add key="BaseURL" value="http://hieasyrent.hotaimotor.com.tw/iRentService2.0_P/api/" />
		<!--<add key="BaseURL" value="http://localhost:4149/api/" />-->
	    <add key="NPR013RegURL" value="NPR010/Reg/" />
        <add key="NPR060SaveURL" value="NPR060/Save/" /> <!--預約-->
        <add key="NPR125SaveURL" value="NPR125/Save/" /> <!--出車-->
        <add key="NPR130SaveURL" value="NPR130/Save/" /> <!--還車-->
        <add key="NPR136SaveURL" value="NPR136/Save/" />
        <add key="NPR260SendURL" value="NPR260/Send/" />
        <add key="NPR330QueryURL" value="NPR330/Query/" />
        <add key="NPR270QueryURL" value="NPR270/QueryV2/" />
	    <add key="NPR271QueryURL" value="NPR271/Query/" />
        <add key="NPR320QueryURL" value="NPR320/Query/" />
        <add key="NPR340SaveURL" value="NPR340/Save/" />
        <add key="NPR350CheckURL" value="NPR350/Check/" /> <!--查詢短租狀態-->
        <add key="NPR370CheckURL" value="NPR370/Check/" />
        <add key="NPR370SaveURL" value="NPR370/Save/" />
        <!--換電獎勵 20201202 ADD BY ADAM -->
        <add key="NPR380SaveURL" value="NPR380/Save/" />
        <add key="NPR172QueryURL" value="NPR172/Query/" />
        <!--20201216 會員資料交換-->
        <add key="NPR010SaveURL" value="NPR010/Save/" />
        <add key="EinvBizURL" value="EinvBiz/bcv/" />
        <add key="MonthlyRentURL" value="MonthlyRent/Subscribe/" />
        <add key="MonthlyRentQueryURL" value="MonthlyRent/QueryDate/" />
		<add key="SetMonthlyRentDataURL" value="MonthlyRent/ProcRcvInv/" />
		<add key="SetMonthlyRentDataV2URL" value="MonthlyRent/ProcRcvInvV2/" />
        <!--ETAG-->
        <add key="ETAG010QueryURL" value="ETAG010/Query/" /><!--ETAG010 查詢費用(合約編號)-->
        <add key="ETAG020QueryURL" value="ETAG020/Query/" /><!--ETAG020 查詢費用(客戶編號)-->
        <add key="ETAG031SaveURL" value="ETAG031/Save/" /> <!--ETAG031 沖銷-->
		<!--主動取款查詢 20210714 ADD BY 唐瑋祁-->
		<add key="NPR390QueryURL" value="NPR390/Query/" />	
        <!--END ETAG-->
        <!--和雲webapi結束-->
        <!--遠傳cat-->
        <add key="CatBaseURL" value="https://portal.cat.fetnet.net/api/v1/{0}/telemetry" /> <!--非同步機制-->
        <add key="CatSyncURL" value="https://portal.cat.fetnet.net/api/v1/customize/{0}/command" /> <!--同步機制-->
        <add key="CatSyncCommand" value="SearchVehicle,QueryUnivCardNo,SetUnivCardNo,Unlock_AlertOff,Lock_AlertOn,SetVehicleRent,SetNoRent,Unlock,Lock,AlertOff,AlertOn,QueryClientCardNo,SetClientCardNo,ClearAllClientCard,SetMotorcycleRent,SwitchPowerOn,SwitchPowerOff,SetHornOn,SetLightFlash,OpenSet,SetBatteryCap,ReportNow" /><!--以逗號區分命令-->
		<add key="CatDeviceMaintainBaseURL" value="https://portal.cat.fetnet.net/" /> <!--Azure CAT DeviceName與DeviceToken維護API網址-->
        <add key="CatDeviceMaintainBaseURL2" value="https://portal.cat2.fetnet.net/" /> <!--FET Cloud CAT DeviceName與DeviceToken維護API網址-->
		<add key="CatAccount" value="irent_prod@noreply.fareastone.com.tw" />
		<add key="CatPassword" value="3edc$RFV" />
		<add key="GCPDeviceMaintainBaseURL" value="http://113.196.85.213/" />
        <add key="EnableFETCloudDeviceMaintain" value="1" /> <!--是否啟用FET Cloud CAT DeviceName與DeviceToken維護功能-->
        <add key="CatCombineCmdAllSupport" value="0" />
        <add key="CatCombineCmdSupportFwVer" value="20210502" />
        <!--遠傳cat結束-->
        <!--興聯-->
        <!--<add key="CENSBaseURL" value="http://40.74.109.166:12903/icloudserver/" />-->
	    <!--<add key="CENSBaseURL" value="http://20.195.62.55:12903/icloudserver/" />-->
		<add key="CENSBaseURL" value="http://13.67.88.151:12903/icloudserver/" />
		<add key="CENSCombineCmdAllSupport" value="0" />
        <add key="CENSCombineCmdSupportFwVer" value="105000001" />
        <!--興聯結束-->
        <!--SSAPI-->
        <!-- 交易逾時時間,預設(未設)為60秒 (單位:秒) -->
        <add key="TransactionTimeOutSecs" value="3600" />
        <add key="CORSAllowCaller" value="true" />
        <add key="webpages:Version" value="2.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="PreserveLoginUrl" value="true" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
        <add key="SQLUID" value="GvTGivOCayT95avVhFH8wg==" />
        <add key="SQLPWD" value="rqj0OkG9svehd8Y603osMA==" />
        <add key="ORAUID" value="kkSQIz13Mx4Ab2Kfl9M1KA==" />
        <add key="ORAPWD" value="kkSQIz13Mx4Ab2Kfl9M1KA==" />
        <add key="TokenTimeOutMinutes" value="20" />
        <add key="LoginDefaultTokenTimeOutMinutes" value="20" />
        <!-- 和運 -->
        <add key="ApiSpName" value="SSApiSp2" />
        <add key="LoginSVR" value="SSLIBSVR" />
        <add key="LoginDB" value="PP" />
        <add key="LoginSP" value="SP_CHECKUSER" />
        <!-- 設定Message參數順序, 若為true(預設)則message參數放在前,否則放在後 -->
        <add key="MessageParamsAtFront" value="true" />

        <add key="SERVER_NAME" value="sqyhi03az.database.windows.net" />
        <add key="DATABASE_NAME" value="IRENT_V2" />
        <add key="LOGIN" value="irentadmin" />
        <add key="PASSWORD" value="hims@QaWsEd" />
        <add key="DATABASE_TYPE" value="S" />
        <!--SSAPI 結束-->
	    <!--AZURE測試 START-->
	    <!--<add key="AzureAPIBaseUrl" value="https://irentv2-testapp-api.azurewebsites.net/" />-->
	    <add key="AzureAPIBaseUrl" value="https://www.irentcar.com.tw/iRentV2-App-api/" />    <!-- 20210416 ADD BY ADAM REASON. -->
	    <!--AZURE測試 END-->
        <!--是否開啟錯誤紀錄-->
        <add key="InsErrorLog" value="false" />

        <!--重新授權延遲分鐘數-->
        <add key="AuthResendMin" value="15" />

		<!--AES KEY && IV -->
		<add key="AES128KEY" value="41WZkYL6HC81c9tw" />
		<add key="AES128IV" value="5713995971183295" />
        <!---共同承租人推播網址-->
		<add key="JointRentInviteeNotificationBaseUrl" value="https://localhost/page" />

		
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7" />
		<httpRuntime targetFramework="4.7" maxRequestLength="10485760" executionTimeout="300" />
	</system.web>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="10485760"></jsonSerialization>
			</webServices>
		</scripting>
	</system.web.extensions>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</compilers>
	</system.codedom>
	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
</configuration>