<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <connectionStrings>
    <add name="IRent" connectionString="Data Source=sqyhi03azt.database.windows.net,1433;Initial Catalog=IRENT_V2T;Persist Security Info=True;User ID=irentadmin;Password=hims@QaWsEd;Application Name=IRentWebAPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="android" value="1.0.0" />
    <add key="ios" value="1.0.0" />
    <add key="Rxpires_in" value="3600" /> <!--Token有效時間，單位秒-->
    <add key="Refrash_Rxpires_in" value="10800" /> <!--Refrash Token有效時間，單位秒-->
    <add key="SendGridKey" value="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"/>
    <add key="SendGridSenderName" value="HLC_WM@hotaimotor.com.tw"/>
    <add key="Mildef" value="3.0" />
    <add key="BindResultURL" value="http://irentv2-testapp-api.azurewebsites.net/api/BindResult"/>
    <add key="BindSuccessURL" value="http://irentv2-testpay-api.azurewebsites.net/CreditCard/BindSuccess"/>
    <add key="BindFailURL" value="http://irentv2-testpay-api.azurewebsites.net/CreditCard/BindFail"/>
    <!--台新webAPI-->
    <add key="TaishinAPIKey" value="QS1Q14N8E5KCXYA0PZXENBBD3X7FH4NX"/>
    <add key="TaishinAPPOS" value="86519539000000000165"/>
    <add key="ApiVer" value="1.0.2"/><!--台新版號-->
    <add key="TaishinBaseURL" value="https://apposweb-t.taishinbank.com.tw/O2OgwApi/api/ws/"/>
    <add key="GetCardPage" value="GetCardPage"/> <!--取回綁卡網頁-->
    <add key="GetCreditCardStatus" value="GetCreditCardStatus"/><!--查詢單筆綁卡狀態-->
    <add key="DeleteCreditCardAuth" value="DeleteCreditCardAuth"/><!--刪除綁卡-->
    <add key="GetCreditCardList" value="GetCreditCardList"/><!--取回綁定列表-->
    <!--台新webAPI結束-->
    <!--和雲webapi-->
    <add key="salt" value="5a+r5Yiw5b6I54Wp" />
    <add key="apikey" value="56iu6Iqx55qE56iL5byP5aW95qmf5YWr" />
    <add key="userid" value="HLC" />
    <add key="HLCkey" value="xTzTbNHsox+KD6rirQQgog==" />
    <add key="BaseURL" value="http://hieasyrent.hotaimotor.com.tw/iRentService2.0_P/api/" />
    <add key="NPR260SendURL" value="NPR260/Send/" />
    <!--和雲webapi結束-->
    <!--遠傳cat-->
    <add key="CatBaseURL" value="" />
    <!--遠傳cat結束-->
    <!--興聯-->
    <add key="CENSBaseURL" value=""/>
    <!--興聯結束-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7" />
    <httpRuntime targetFramework="4.7" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
