<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://irentv2-autojob.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>irentv2-autojob.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>iRentV2-AutoJob</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$iRentV2-AutoJob</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="StorageConnectionStrings" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=irentv2logdata;AccountKey=Z5vhfQC5pCaSIf24llWVqLGTAOGo8Y5UYji/ChLzu+UPHvJkw7v4m4sYFclIhdoXfkPhViMbx02EkNy+UmR1IQ==;EndpointSuffix=core.windows.net" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StorageConnectionStrings_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=irentv2logdata;AccountKey=Z5vhfQC5pCaSIf24llWVqLGTAOGo8Y5UYji/ChLzu+UPHvJkw7v4m4sYFclIhdoXfkPhViMbx02EkNy+UmR1IQ==;EndpointSuffix=core.windows.net" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="RedisConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="iRentV2-CreditAuth.redis.cache.windows.net:6380,password=Jbg8fc9MZv8BAxEcqAtEB41M6Ur9HXhZ9H86RsiPW0k=,ssl=True,abortConnect=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RedisConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="iRentV2-CreditAuth.redis.cache.windows.net:6380,password=Jbg8fc9MZv8BAxEcqAtEB41M6Ur9HXhZ9H86RsiPW0k=,ssl=True,abortConnect=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="IRentT" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sqyhi03azt.database.windows.net,1433;Initial Catalog=IRENT_V2T;Persist Security Info=True;User ID=irentadmin;Password=hims@QaWsEd;Application Name=IRentWebAPI" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IRentT_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=sqyhi03azt.database.windows.net,1433;Initial Catalog=IRENT_V2T;Persist Security Info=True;User ID=irentadmin;Password=hims@QaWsEd;Application Name=IRentWebAPI;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="IRent" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sqyhi03az.database.windows.net,1433;Initial Catalog=IRENT_V2;Persist Security Info=True;User ID=irentadmin;Password=hims@QaWsEd;Application Name=IRentWebAPI" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IRent_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=sqyhi03az.database.windows.net,1433;Initial Catalog=IRENT_V2;Persist Security Info=True;User ID=irentadmin;Password=hims@QaWsEd;Application Name=IRentWebAPI;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IRent-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IRentT-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RedisConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StorageConnectionStrings-Web.config Connection String" />
  </ItemGroup>
</Project>