@import "~bootstrap/scss/functions";
@import "./helpers/_variables";
@import "~bootstrap/scss/bootstrap";

$custom-blue:#1DA6D0;
$distance:0.25rem;
#app{
    color: #000 !important;
}
main{
    min-height: 100vh;
    padding: $distance*4;
}
.bg-gray-400{
    background: $gray-400;
}
.bg-gray-500{
    background: $gray-500;
}
.mainNav .navbar-collapse{
    justify-content: space-between;
}
.mainNav .nav-link{
    padding: $distance*2 $distance;
    color: white;
}
.custom-file-label{
    right: 100px;
    overflow: visible;
}
.custom-file-input ~ .custom-file-label[data-browse]::after{
    content: '上傳檔案';
    right: -100px;
    border-radius: $distance;
    background: $custom-blue;
    color: white;
    cursor: pointer;
}
//input filed
.custom-select,
.form-control,
.custom-file-label{
    background-color: #eee;
}
.custom-select{
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20448%22%20enable-background%3D%22new%200%200%20256%20448%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.arrow%7Bfill%3A%23424242%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22arrow%22%20d%3D%22M255.9%20168c0-4.2-1.6-7.9-4.8-11.2-3.2-3.2-6.9-4.8-11.2-4.8H16c-4.2%200-7.9%201.6-11.2%204.8S0%20163.8%200%20168c0%204.4%201.6%208.2%204.8%2011.4l112%20112c3.1%203.1%206.8%204.6%2011.2%204.6%204.4%200%208.2-1.5%2011.4-4.6l112-112c3-3.2%204.5-7%204.5-11.4z%22%2F%3E%3C%2Fsvg%3E%0A");
    background-size: 20px 25px;
}
.list-group-item{
    line-height: calc(1.5em + 0.75rem + 2px);
}
// disabled
.form-control:disabled, .form-control[readonly],
.custom-file-input[disabled] ~ .custom-file-label, .custom-file-input:disabled ~ .custom-file-label{
    background-color: #9FA4AC;
}
// custom checkbox
.custom-control-label{
    &:before,&:after{
        top: calc(50% - .5rem);
    }
}
// table
.table-primary, .table-primary > th, .table-primary > td {
    background-color: #1DA6D0;
    color: #fff;
}
.table-hover .table-primary:hover,
.table-hover .table-primary:hover > td, .table-hover .table-primary:hover > th{
    background-color: $primary !important;
}
.table_narrow .table th,.table_narrow .table td{
    padding: 0.5rem !important;
}
.btn{
    line-height: calc(1.5em + 0.75rem - 2px);
    height: calc(1.5em + 0.75rem);
    padding: 0 0.75rem;
}
.list-group-item{
    padding: $distance*2 $distance*5;
}