<?xml version="1.0" encoding="utf-8"?>
<hotaipayment>
	<subSetting>
		<add key="HotaiAppId" value="IRAPP" />
		<add key="HotaiAppVersion" value="V1.0.0" />
		<add key="HotaiApiVersion" value="V3"/>
		<add key="HotaiKey" value="LPT06Y4N99LEKBRP8T0Y8TTBTC9MYRVT" />
		<add key="HotaiIV" value="KMZ7FYD1EPISHKY0" />
		<add key="HotaiMemberFrontEndURL" value="https://mfe-api-test.hotaimember.com.tw/" />
		<add key="HotaiMemberSingleEntry" value="api/app/service" />
		<add key="HotaiMemberBackEndURL" value="https://mbe-api-test.hotaimember.com.tw/" />
		<add key="HotaiAppKey" value="IbuzwcL+5+sgyxlQnvPNQeYK1M9Ojn2LvLp68TTYYERrdfeeozz/kd1YVKec8271nY+nE9bM0pxEF0tSOvMsXhk9/t4nKQxCUt0nWC110HzPlnQbVh0xDaAQUigy36/T7WWC8FWoa0iytIdMfEm7aXr4jRua8DeEtBVHrugcbZoB8Cz54mOO5yCjHmvT2Q1zvyUoxv6XJUmEoRgpP/GVIneXqsxCJBfyyT3Al2B2eakbLlS5Sd01EhyprYasUaVzFonWV04brybHyxf5cpMO59xwXDfLLGd/OivwwO8mYU8PLlZae4JVI1yUzW7HHw7qsiB7X82cWMG5X6uJCSihqg==" />
		<add key="HotaiRSAKey" value="MIIBCgKCAQEAor5yx8+K9TzFf//q/KX50/5F7ORPZ0g5v2SQ5YdcrzgFX9lm1O9rByakAAYJjZND59PtJscnR+XTiVPmVOllO4wJEScf/2a+d/iegW4btY6TKkvHyfs/lPKzkOF4rUPCJTIH1VgOrPG0aR8JRjjgYmP5snp/XUIVh28UatL4bG3PNDtXDzVQ41AlQ0xkwRaB2IVK7IpE3GH/E+uugxNbyhHgB09OIJpj7h4Gs+YrQH+8glbWfBbOgq+UZR1K0SrHe5Btkezr+xyj7E20fkCwV1bPdCnh04NxiWwHfZohSUizGlNt6M3OzDF+/goT6nlGTERLnhG9NAqylClXr6IQVQIDAQAB" />
		<add key="HotaiPaymentURL" value="https://stage-payment.hotaiconnected.com.tw"/>
		<add key="HotaiPaymentSingleEntry" value="/api" />
		<add key="HotaiPaymentKey" value="H5EpgABi8Yy3heB5+EWVI2s5aAVR2KLTPlufXTTakhI="/>
		<add key="HotaiPaymentIV" value="5dsubdixk7y/WHfKSCdUvA==" />
		<add key="CTBCBindCard" value="https://testepos.ctbcbank.com:9443/mFastPay/TxnServlet" />
		<!--手動綁定信用卡-->
		<add key="CTBCFastBind" value="https://obtest.ctbcbank.com/api/cpc/init-bind-card" />
		
		<add key="CTBCMerID" value="77465" />
		<add key="CTBCTerminalID" value="90100031" />
	<!--快速綁卡-->
	</subSetting>
</hotaipayment>