
@{
    ViewBag.Title = "CreditCardChoose";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>和泰Pay設定</title>


    <link rel="stylesheet" href="~/Content/HotaiPayCss/bootstrap.css">
    <link rel="stylesheet" href="~/Content/HotaiPayCss/style.css">
</head>
<body>


    <header class="d-flex justify-content-center align-items-center"><h6 style="margin-top: 8px;">和泰Pay設定</h6></header>



    <div class="container" style="max-width: 414px;">
        <div class="mt-4">
            <p class="text-gray">請選擇您欲綁定的信用卡</p>
        </div>
        <div class="credit-card-box mb-4">
            <input class="mr-3" type="radio">
            <div class="credit-style mr-2">
                <img src="~/images/icon/credit_pay_JCB.svg" alt="">
                信用卡
            </div>
            <div class="credit-number">*1234</div>
        </div>
        <div class="credit-card-box mb-4">
            <input class="mr-3" type="radio">
            <div class="credit-style mr-2">
                <img src="~/images/icon/credit_pay_MasterCard.svg" alt="">
                信用卡
            </div>
            <div class="credit-number">*1234</div>
        </div>
        <div class="credit-card-box mb-4">
            <input class="mr-3" type="radio">
            <div class="credit-style mr-2">
                <img src="~/images/icon/credit_pay_VISA.svg" alt="">
                信用卡
            </div>
            <div class="credit-number">*1234</div>
        </div>

    </div>

    <div class="footer text-center">
        <div class="mb-2">
            <a class="text-blue" href="">＋ 新增信用卡</a>
        </div>
        <button type="submit" class="btn btn-blue" id="agree-btn">
            進行信用卡綁定
        </button>
    </div>

</body>
</html>

