
@{
    ViewBag.Title = "MembershipTerms1";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>和泰集團會員條款</title>


    <link rel="stylesheet" href="~/Content/HotaiPayCss/bootstrap.css">
    <link rel="stylesheet" href="~/Content/HotaiPayCss/style.css">
</head>


<body>


    <header class="d-flex justify-content-center align-items-center"><h6 style="margin-top: 8px;">和泰集團會員與隱私權條款</h6></header>

    <div class="tab-choose d-flex" style="max-width: 525px;margin: auto;">
        <button class="btn tab-btn">會員條款</button>
        <button class="btn tab-btn tab-active">隱私權條款</button>
    </div>

    <div class="container" style="max-width: 525px;position:relative">

        <div class="notice-text pre-scrollable">
            <ul>
                <h6>【和泰集團會員-隱私權條款】  202110版</h6>
                <li>
                    &emsp;&emsp;和泰汽車股份有限公司集團（包含豐田汽車株式會社、和泰汽車股份有限公司及其關係企業、台灣地區授權經銷商及有合作關係第三人（註），以下簡稱「和泰」）承諾保護您的個人隱私權。本隱私權條款簡述和泰集團會員中心及本中心所提供之各項服務（以下簡稱「本服務」）所收集到的資料種類，以及如何使用與保護上述資料的方法。同時說明當您使用本服務但不希望提供個人基本資料時應如何處理，以及如何變更已提供給本服務的個人基本資料。
                </li>
                </li>
                <br>

                <h6>您對此隱私權條款之認同</h6>
                <li>
                    &emsp;&emsp;當您使用本服務，就表示同意現行所公佈之隱私權條款。如果您不同意本隱私權條款之內容，請勿提供您的資料。如果您選擇不提供個人基本資料或提供之個人基本資料不正確，您可能將無法使用本服務中部分內容，例如參加抽獎或比賽活動、索取樣品，或收到我們寄給您的電子郵件；然而本服務所連結的其他平台、網站或APP並不在本隱私權條款保護之範圍內。
                </li>

                <br>
                <h6>個人基本資料的蒐集與利用</h6>
                <li>
                    &emsp;&emsp;和泰依個人資料保護法規定蒐集、處理及利用您的個人資料。和泰將以簡訊、網路、電話、e-mail等您留存之聯絡方式，使您知悉廣告、贈品或相關資訊及優惠，或對您進行問卷調查。個人資料蒐集目的、類別及資料利用之期間、地區、對象及方式如下：
                </li>
                <li>
                    (一)	蒐集目的：
                    行銷、維修、保固、提供客戶服務、消費者保護、契約、類似契約或其他法律關係事務、執行其他經營合於營業登記項目或組織章程所定之業務、調查、統計與研究分析、個人資料之合法交易業務。
                </li>
                <li>
                    (二)	資料類別：
                    個人資料包含但不限於姓名、身分證號碼、生日、電話（住宅）（公司）、行動電話、e-mail、戶籍地址及聯絡地址、和泰現存您之所有資料、交易及維修資訊、行動及網路媒體資訊等。

                </li>
                <li>
                    (三)	利用之期間、地區、對象及方式：
                    <br> A.	期間：您同意由和泰依本隱私權條款之約定持續蒐集、處理、利用您提供之個人資料，截至您主動請求和泰刪除、停止處理或利用該個人資料之日或和泰執行業務所必需之保存期間止，和泰始終止其個人資料蒐集、處理及利用。
                    <br> B.	地區：和泰集團國內及國外所在地。
                    <br>C.	對象：和泰汽車股份有限公司及其關係企業、台灣地區授權經銷商及有合作關係第三人（註）。您知悉並同意對象範圍及於未來於和泰汽車及附註所述公司官方平台所增加之公司（https：//pressroom.hotaimotor.com.tw/）。
                    <br>D.	方式：符合個人資料保護相關法令以自動化機器或其他非自動化之利用方式。
                    您得依個人資料保護法得隨時請求和泰查閱、給予複本或補正您之個人資料，亦得隨時電洽和泰之客服專線或逕向台灣地區授權經銷商各營業單位以書面表示拒絕和泰繼續蒐集、處理、利用，或刪除您個人資料。

                </li>


            </ul>

        </div>
    </div>


    @using (Html.BeginForm("AgreeTerms1", "HotaiPay", FormMethod.Get))
    {
    <div class="container footer" style="max-width: 414px;position:relative">
        <div class="form-check form-check-inline mb-3">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1">
            <label class="form-check-label" for="inlineCheckbox1">
                我已經閱讀並同意<a class="text-blue">「和泰集團會員條款」</a>與
                <a class="text-blue">「隱私權條款」</a>
            </label>
        </div>
        <button type="submit" class="btn btn-disable-gray mb-2" id="redbtn">同意</button>
    </div>
    }
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <!-- 自己寫的js -->
    <script src="js/main.js"></script>
    <!-- 自己寫的js -->


    <script>$(":checkbox").click(function(){
      $("#redbtn").toggleClass("checked-active")
  })</script>

</body>
</html>

