
@{
    ViewBag.Title = "RegisterMembershipTrem";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>和泰集團會員條款</title>


    <link rel="stylesheet" href="~/Content/HotaiPayCss/bootstrap.css">
    <link rel="stylesheet" href="~/Content/HotaiPayCss/style.css">
</head>

<style>
</style>
<body>

    <header class="d-flex justify-content-center align-items-center"><h6 style="margin-top: 8px;">和泰集團會員條款</h6></header>



    <div class="container" style="max-width: 414px;position:relative">
        <div class="notice-text pre-scrollable">
            <ul>
                <h6>同意條款：和泰會員條款</h6>
                <br>
                <h6>親愛的 和雲行動服務會員 您好：</h6>

                <li>
                    <p>和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款。</p>
                </li>

                <li>
                    <p>和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款。</p>
                </li>
                <li>
                    <p>和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款。</p>
                </li>
                <li>
                    <p>和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款。</p>
                </li>
                <li>
                    <p>和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款。</p>
                </li>
                <li>
                    <p>和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款和泰會員條款。</p>
                </li>
            </ul>



        </div>
    </div>



    <div class="container footer" style="max-width: 414px;position:relative">
        <div class="form-check form-check-inline mb-3">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1">
            <label class="form-check-label" for="inlineCheckbox1">我已詳讀和泰會員條款說明</label>
        </div>
        <button type="submit" class="btn btn-disable-gray mb-2" id="redbtn">同意</button>



    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>


    <!-- 自己寫的js -->
    <script src="js/main.js"></script>

    <!-- 自己寫的js -->
    <script>$(":checkbox").click(function(){
      $("#redbtn").toggleClass("checked-active")
  })</script>
</body>
</html>

