
@{
    ViewBag.Title = "RegisterSuccess";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>和泰集團會員註冊</title>


    <link rel="stylesheet" href="~/Content/HotaiPayCss/bootstrap.css">
    <link rel="stylesheet" href="~/Content/HotaiPayCss/style.css">
</head>
<body>



    <header class="d-flex justify-content-center align-items-center"><h5 style="margin-top: 8px;">和泰集團會員註冊</h5></header>


    <div class="container text-center" style="max-width: 414px;">

        <div class="image-box mt-8">
            <img src="~/images/success-face-icon.svg" alt="">
        </div>

        <div class="text-box">
            <h6 style="color:#1DA6D0 ;">和泰會員註冊成功！<br>和泰會員與iRent綁定成功！</h6>


            <p class="text-gray">您已是和泰集團會員囉</p>
        </div>





        <!-- <button type="submit" class="btn btn-outline-gray bottom-btn" id="agree-btn">進行信用卡綁定 </button> -->


    </div>



</body>
</html>

