
@{
    ViewBag.Title = "RegisterSuccessBindFail";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>和泰集團會員註冊</title>


    <link rel="stylesheet" href="~/Content/HotaiPayCss/bootstrap.css">
    <link rel="stylesheet" href="~/Content/HotaiPayCss/style.css">
</head>
<body>



    <header class="d-flex justify-content-center align-items-center"><h5 style="margin-top: 8px;">和泰集團會員註冊</h5></header>


    <div class="container text-center" style="max-width: 414px;">

        <div class="image-box mt-8">
            <img src="~/images/success&fail-face-icon.png" alt="">
        </div>

        <div class="text-box">
            <h6 style="color:#1DA6D0 ;">和泰會員註冊成功！</h6>

            <h6 style="color:#EB7F87 ;">和泰會員與iRent綁定失敗！</h6>
            <p class="text-gray">請檢查網路後重新再試</p>
        </div>




        <!-- <button type="submit" class="btn btn-outline-gray bottom-btn" id="agree-btn">進行信用卡綁定 </button> -->


    </div>


    <div class="footer">

        <button type="submit" class="btn btn-outline-gray bottom-btn" id="agree-btn">重新進行綁定</button>
    </div>

</body>
</html>

